#InterceptorMode= IMMEDIATE_PRINT, CALL_DIAGRAM_FUNCTION, CALL_DEPENDENCY_FUNCTION, CALL_DIAGRAM_FILES
#RecordMode = REALTIME, LAZY, NOT_RECORDING
#NameNormalization = PURE, NORMALIZED
#FunctionNormal = std::!std_library
#FileNormal = c:\\program files!std_library
#SuppressFunction= std::
#SuppressFunction= boost::
#SuppressFile=c:\\program files
InterceptorMode=CALL_DEPENDENCY_FUNCTION
NameNormalization=NORMALIZED
RecordMode=LAZY
#FunctionNormal = std::!std_library
#FunctionNormal = <lambda_!lambda_function
#FunctionNormal = Concurrency::!Concurrency
#SuppressFunction =std::
#SuppressFunction= Concurrency::
#SuppressFunction = <lambda_
#SuppressFunction = operator new
#SuppressFunction = boost::
