#InterceptorMode= IMMEDIATE_PRINT, FORCE_DIAGRAM, DEPENDENCY_WHEEL
#RecordMode = REALTIME, LAZY, NOT_RECORDING, PRELOAD_FUNCTIONS
#RecordType = FUNCTION, FILE
#NameNormalization = PURE, NORMALIZED
#FunctionNormal = std::!std_library
#FileNormal = c:\\program files!std_library
#SuppressFunction= std::
#SuppressFunction= boost::
#SuppressFile=c:\\program files
InterceptorMode=IMMEDIATE_PRINT
NameNormalization=NORMALIZED
RecordMode=PRELOAD_FUNCTIONS
RecordType=FUNCTION
FunctionNormal = std::!std_library
FunctionNormal = <lambda_!lambda_function
FunctionNormal = Concurrency::!Concurrency
FunctionNormal = boost::!boost
SuppressFunction =std::
SuppressFunction= Concurrency::
SuppressFunction = <lambda_
SuppressFunction = operator new
SuppressFunction = boost::
